---
layout: default
title: Home
---

    <div class="row" id="info-row">
        <div class="col-md-4">
            <h2>Software Developer</h2>
            <p>I develop software for large scale public applications. APIs, load balancers, token based login systems, logging services, work queues, and more. I consider myself comfortable in multiple computer languages and platforms.</p>
        </div>
        <div class="col-md-4">
            <h2>Web Operations</h2>
            <p>I have experience in setting up and configuring web servers, and supporting services (Cache services, load balancers, proxies, database servers, job servers, and logging servers) in multiple platforms: Linux, Windows and Mac OSX. I also have the ability to set up processes for testing, building, and deployment to large scale systems.</p>
        </div>
        <div class="col-md-4">
            <h2>Web Developer</h2>
            <p>I have been passionate about doing web development ever since I was a teenager. I can develop large scale web applications and web sites. Including complex javascript UIs, with dynamic and real time data.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 index-article-col">
            <h2>News &amp; Articles</h2>
            {% for post in paginator.posts %}
            <h3><a href="{{post.url}}">{{post.title}}</a></h3>
            <div class="excerpt">{{post.excerpt}}
            <a href="{{post.url}}">Read More ...</a></div>
            <div class="art-summary"><span class="glyphicon glyphicon-time"></span>{{post.date | date: "%B %-d, %Y"}} <span class="comment-out"><span class="glyphicon glyphicon-comment"></span><a href="{{post.url}}#disqus_thread">Comments</a></span><span class="pull-right tags"><span class="glyphicon glyphicon-tags"></span>{{post | tags}}</span></div>
            {% endfor %}

            {% if paginator.total_pages > 1 %}
            <ul class="pager">
                {% if paginator.previous_page %}
                <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a></li>
                {%else%}
                <li class="previous disabled"><a href="#">&laquo; Newer</a></li>
                {% endif %}

                {% if paginator.next_page %}
                <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a></li>
                {% else %}
                <li class="next disabled"><a href="#">Older &raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" href="https://twitter.com/cythrawll" data-widget-id="378309869377318912">Tweets by @cythrawll</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <div id="tag-cloud">
                {{ site | tag_cloud }}
            </div>
        </div>


    </div>